numpy==1.24.3
pandas==2.0.1
matplotlib==3.7.1
scikit-learn==1.2.2
seaborn==0.12.2
bert-topic==0.15.0
sentence-transformers==2.2.2
umap-learn==0.5.3
hdbscan==0.8.29
xgboost==1.7.5
shap==0.41.0
plotly==5.14.1
scikit-learn==1.2.2
